.menu-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.difficulty-section {
  display: flex;
  gap: 0.5rem;
}

.difficulty-section {
  margin-bottom: 1rem;  
}

.menu-buttons {
  display: flex;
  gap: 0.5rem;   /* space between items */
  margin-bottom: 0.1rem;
}


/* banner shit */
.support-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2f2f2f;
  font-size: 1rem;
  color: #aaa;
  opacity: 0.8;
}

.support-banner a {
  color: #4cafeb;
  text-decoration: underline;
}

.support-banner a:hover {
  color: #80c6ff;
}

