.play-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 20px;
}

.play-container h2 {
  margin: 0 0 5px 0;   
  padding: 0;
  text-align: center;
}

/* Darkened background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999; /* ensures it stays on top */
}

/* The popup box */
.modal-box {
  background: #1e1e1e;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  animation: pop-in 0.25s ease-out;
}

.modal-box h2 {
  margin: 0 0 20px 0;
  font-size: 2rem;
  color: white;
}

.modal-box button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  color: #000000;  
  cursor: pointer;
  font-size: 1.1rem;
}

.modal-box button:hover {
  background: #cbcbcb;
}


